<%- include('partials/header.ejs') %>
<section style="height: 80px; background: royalblue;"></section>

<section id="order" style="width: 100%; min-height: 90vh;  background-color: #ececec;">
   <% if(loginuser.buyed.length >0){%>
    <div class="container bg-white p-0 order">
        <%loginuser.buyed.forEach(function(elem){%>
        <div class="card1 w-100 d-flex gap-5">
            <div class=" _card1_img m-0" style=" height:200px; width:200px;">
               <img src="../images/uploads/<%=elem.productid[0].photo[0].filename%>" alt="" class="img " >
            </div>
            <div class="text-start d-flex flex-column gap-3">
                <div>
                  <a href="/view/<%=elem.productid[0]._id%>" class="_card1_h4  m-0 text-primary" ><%=elem.productid[0].productname%></a>
                  <div class="_card1_h4 text-dark"></div>
                  <div class="_card1_h5"><%=elem.productid[0].price%></div>
                  <div class="_card1_h6 text-dark text-muted"><%=elem.productid[0].brand%> </div>
                  <p class="m-0"><strong>seller : </strong> <%=elem.productid[0].username%></p>
                </div>
                <div>
                  <div class="d-flex justify-content-between gap-5">
                    <p class="m-0"><strong>delivery address :</strong> <span style="font-weight: 500; color: black;"><%=elem.address[0].username%></span>, <%=elem.address[0].flate_no%>,<%=elem.address[0].area%>,<%=elem.address[0].city%>,<%=elem.address[0].state%>,<%=elem.address[0].country%></p>
                    <p class="m-0"><strong>pincode :</strong> <%=elem.address[0].pincode%></p>                  
                  </div>
                  <p class="m-0"><strong>phone number :</strong> <%=elem.address[0].number%></p>
                  <div class="d-flex gap-5">
                    <p class="m-0"><strong>payment mode :</strong> <%=elem.payment === "direct" ? 'Cash On Delivery' :'Online Pyment'%></p>
                    <p class="m-0"><strong>payment status :</strong><span class="<%=elem.payment === 'direct' ? 'text-danger' :'text-success'%>">
                     <%=elem.payment === "direct" ? 'pending' :'success'%>
                    </span></p>
                  </div>
                </div>
                 <a href="/deleteorder/<%=elem._id%>" style="position: absolute; right:2%; bottom: 10%;" class="text-danger">cencle order</a>
            </div>
        </div>
       
        
        <%})%>
    </div>
   <% }else{%>
    <div class="container" >
        
        <div class="cart-buttom py-5">
            <img src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90" alt="">
            <h6 class="mt-4">your order list is empaty</h6>
            <small>order some items </small>
            <a href="/shop" class="btn btn-primary px-5 mt-3">shop now</a>
        </div>
    </div>
  <% } %> 
  </section>
<%- include('partials/footer.ejs') %>
